.btn-pink{
	background-color: #E9A4CB;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family:'Roboto', sans-serif;
	transition: background-color 0.5s ease;
}

.btn-pink:hover{
	background-color: #FF007F;
}
